<%= simple_form_for @employee do |f| %> 
<%= hidden_field_tag "employee[employee_skill_ids][]", "" %>
<%= hidden_field_tag "employee[target_skill_ids][]", "" %>

  <%= f.error_notification %>

<div class="row-fluid">
<div class="span12">
    <%= f.input :name, :label => 'Name' %>
</div>
</div>

<div class="row-fluid">

<div class="span3">
  <%= f.input :email %>
</div>

<div class="span3">
  <%= f.input :location, as: :select, collection: ['New York', 'Chicago', 'Los Angeles', 'Atlanta', 'Detroit', 'Boston', 'Mumbai', 'Houston'], :label => "Office" %>  
</div>

<div class="span3">
  <%= f.input :department,  as: :select, collection: ['IT', 'UI', 'R&D', 'Maintenance'], :label => "Department" %>
</div>

<div class="span3">
  <%= f.input :group, as: :select, collection: ['Development','Finance','Marketing'], :label => "Group" %>
</div>
</div>

<div class="row-fluid">
<div class="span4">
  <%= f.input :job_title, as: :select, collection: ['Developer', 'Analyst', 'Manager'], :label => "Job Title"  %>
</div>

<div class="span4">
  <%= f.input :supervisor, :label => 'Immediate Supervisor' %>
</div>

<div class="span4">
  <%= f.input :years_at_company,   as: :select, collection: ['1','2','3','4','5','6','7','8','9','10','20']  %>
</div>
</div>

<div class="row-fluid">
<div class="span6">
  <%= f.label :Write_a_short_description_about_yourself %>
  <%= f.text_area :description, :size => "100x4" %>
</div>

<div class="span6">
  <%= f.label :image, "Upload your photo at Gravatar" %>
    <p>
    <%= gravatar_for @employee %>
  </p>

</div>
</div>

<p>
<div class="row-fluid">

<div class="span2">
      <%= f.label :current_skills %></label>
</div>

<div class="span3">
  <% Skill.all.each do |skill| %>
        <%= check_box_tag "employee[employee_skills_ids][]", skill.id,
    @employee.employee_skills.compact.include?(skill) %>
          <%= skill.name %></br>
  <% end %>
</div>

<div class="span2">
  <%= f.label :desired_skills %></label>
</div>

<div class="span3">
  <% Skill.all.each do |skill| %>
        <%= check_box_tag "employee[target_skills_ids][]", skill.id,
    @employee.target_skills.compact.include?(skill) %>
          <%= skill.name %></br>
  <% end %>
</div>

<div class="span2">
</div>  
</div>
</p>

<div class="row-fluid">
<div class="span12">
  <%= f.button :submit, :class => 'btn-primary' %>
</div>
</div>

<% end %>