<% provide(:title, @employee.name) %>

<!DOCTYPE html>
  <html>
    <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </head>
  </html>
 


<h3>
    <%= @employee.name %>
</h3>
  
      <div>

      <%= gravatar_for @employee %>

      </div>
    <div class="offset2">

      <div class="employees">

      <p>
          First Name:
          Last Name:
          <%= @employee.name %>
      </p>

      <p>
          Email:
          <%= @employee.email %>
      </p>

      <p>
          Skills:
          <%= @employee.employee_skills_ids %>
      </p>

      <p>
          Interests:
          <%= @employee.target_skills_ids %>
      </p>

      <p>
          Group:
          <%= @employee.group %>
      </p>

      <p>
          Location:
          <%= @employee.location %>
      </p>

      <p>
          Current Project:
          <%= @employee.current_project %>
      </p>












