<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @employee %>
        <%= @employee.name %>
      </h1>
      <%= link_to 'Edit Profile', edit_employee_path %>
      <div class="row"> 
        <%= link_to 'Back to employee list', employees_path %> 
      </div> 
    </section>

  </aside>
</div>

<div>
  <section>
    <%= link_to 'Create a new request', new_request_path, class: "btn btn-small btn-primary" %>
  </section>
</div>

<div>
  <% if @employee.requests.any? %>
    <h3>Requests (<%= @employee.requests.count %>)</h3>
    <div>
      <table>
        <tr>
          <th>Client</th>
          <th>Project</th>
          <th>Location</th>
          <th>Request</th>
          <th>Skills Needed</th>
          <th>Who Has Responded</th>          
        </tr>

        <% @employee.requests.each do |request| %>     
        <ul><li><tr>
            <td><%= request.client %></td>
            <td><%= request.project %></td>
            <td><%= request.location %></td>
            <td><%= request.request %></td>
            <td><%= request.skills_needed %></td>
            <td>      
                  <% request.responses.each do |response| %>
                    <%= link_to response.employee.name, employee_path(response.employee) %>
                  <% end %>
                </li></ul>
                </td>
        </tr>
        <tr>

        </tr>
        <% end %>
</ul>        
      </table>  
    </div>
  <% end %>
</div>



