<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @employee %>
        <%= @employee.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<p>
  <b>Employee ID:</b>
  <%= @employee.id %>
</p>

<div class="actions">
  <%= link_to "Show my requests", requests_path(@employee) %>
</div> 

<div class="actions">
  <%= link_to 'Create a new request', new_request_path(@employee), class: "btn btn-small btn-primary" %>
</div>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
