<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @employee %>
        <%= @employee.name %>
      </h1>
    </section>
  </aside>
</div>

  <div class="span8">
    <% if @employee.requests.any? %>
      <h3>Requests (<%= @employee.requests.count %>)</h3>
      <ol class="requests">
        <%= @employee.requests %>
      </ol>
    <% end %>
  </div>


<%= link_to 'Edit', edit_employee_path %> |
<%= link_to 'Back', employees_path %>
