<% provide(:title, @employee.name) %>

<!DOCTYPE html>
  <html>
    <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </head>
  </html>
 


<h3>
    <%= @employee.name %>
</h3>
  
      <div>

      <%= gravatar_for @employee %>

      </div>
    <div class="offset2">

      <div class="employees">

      <p>
          Name:
          <%= @employee.name %>
      </p>

      <p>
          Email:
          <%= @employee.email %>
      </p>

      <p>  
        Employee Skills:
        <% @employee.employee_skills.each do |es| %>    
        <%= es.skill.name %> 
        <% end %>  
      </p>

        <p>Target Skills:
          <% @employee.target_skills.each do |ts| %>    
          <%= ts.skill.name %>  
          <% end %>  
        </p>



      <p>
          Group:
          <%= @employee.group %>
      </p>

      <p>
          Location:
          <%= @employee.location %>
      </p>

      <p>
                    <h5>Projects I've worked on:</h5>

    <% Selection.all.each do |selection| %>          
      <% if selection.employee_id == current_employee.id %>  
      <p>                      
          <%= Request.find(selection.request_id).project %>:
          <%= Request.find(selection.request_id).start_date %> to 
          <%= Request.find(selection.request_id).stop_date %> 
          (Status: <%= Request.find(selection.request_id).progress_status %>)
          <%= Request.find(selection.request_id).content %> 
      </p>
      <% end %>        
    <% end %>

      </p>

  














