<% provide(:title, @employee.name) %>

<!DOCTYPE html>
  <html>
    <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </head>
  </html>
 


<h3>
    <%= @employee.name %>
</h3>
  
<div>
  <%= gravatar_for @employee %>
</div>

<div class="offset2">
<div class="employees">
<p>
    Name:
    <%= @employee.name %>
</p>

<p>
    Email:
    <%= @employee.email %>
</p>

<p>
    Office:
    <%= @employee.location %>
</p>

<p>
    Department:
    <%= @employee.department %>
</p>

<p>
    Group:
    <%= @employee.group %>
</p>

<p>
    Job Title:
    <%= @employee.job_title %>
</p>

<p>
    Immediate Supervisor:
    <%= @employee.supervisor %>
</p>

<p>
    Years with Company:
    <%= @employee.years_at_company %>
</p>

<p>Employee Skills:       
  <% @skillnames = [] %>            
    <% @employee.employee_skills.each do |emp_skill| %>              
    <% skill_names(emp_skill) %>            
    <% end %>            
    <%= @skillnames.join(", ") %>  
</p>

<p>Target Skills:
  <% @skillnames = [] %>            
    <% @employee.target_skills.each do |targ_skill| %>              
    <% skill_names(targ_skill) %>            
    <% end %>            
    <%= @skillnames.join(", ") %>  
</p>
 

<p>
  <b>Projects I've worked on:</b>
  <% if !@employee.selections.nil? %>
  <% @employee.selections.each do |selection| %>          

      <p>                      
          <%= selection.request.project %>:
          <%= selection.request.start_date %> to 
          <%= selection.request.stop_date %> 
          (<%= selection.request.progress_status %>)
          <%= selection.request.content %> 
      </p>
  <% end %>     
  <% end %>
</p>

<p>
<%= link_to 'Back to Requests', requests_path(@requests) %>
</p>

  














