<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        My Profile
      </h1>
      <p><%= link_to 'Edit Profile', edit_employee_path(@employee) =%></p>
      <p><%= gravatar_for @employee %>

        <div class="employee">

        <p>
        First Name:
        Last Name:
        <%= @employee.name %>
        </p>

        <p>
        Email:
        <%= @employee.email %>
        </p>

        <p>
        Skills:
        <%= @employee.skills %>
        </p>

        <p>
        Interests:
        <%= @employee.interests %>
        </p>

        <p>
        Group:
        <%= @employee.group %>
        </p>

        <p>
        Location:
        <%= @employee.location %>
        </p>

        <p>
        Current Project:
        <%= @employee.current_project %>
        </p>
        </div>

        </div>

      </p>
    </section>
  </aside>









