<head>
<meta charset="utf-8" />
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<script>
$(function() {
$( "#start_datepicker" ).datepicker();
$( "#stop_datepicker" ).datepicker();
});
</script>
</head>

 
<%= form_for(@request) do |f| %>

  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<p>
<div id="Container1" > 
      <%= f.label :title %>
</div>
<div id="Container2" >
      <%= f.text_field :project %> 
</div>
</p>

<p>     
  <div>
    <%= f.label :description %></div>
    <%= f.text_area :content, :size => "65x10" %>
</p> 

<p>
<div id="Container1" > 
      <%= f.label :start_date %> 
</div>
<div id="Container2" ><input name="request[start_date]" type="text" id="start_datepicker" />
</div>
</p>

<div id="Container1" >  
      <%= f.label :end_date %> 
    </div>
<div id="Container2" > <input name="request[stop_date]" type="text" id="stop_datepicker" />
    </div>

<div id="Container1" >  
    <%= f.label :group %>
</div>

<div id="Container2" >  
    <%= f.select :group, ['Development','Finance','Marketing'] %>
</div>

<div id="Container1" >  
    <%= f.label :office %>
</div>

<div id="Container2" >  
    <%= f.select :location, ['Atlanta',
    'Boston', 'Chicago', 'Dallas', 'New York', 'Denver', 'Los Angeles','San Francisco'] %>
</div>

<p>

<div id="Container1" >    
<label class="text-left">Relevant skills</label>

</div>

<div id="Container2" >





</p>

<p>
  <%= f.check_box :active, :checked => true, :style => 'visibility: hidden' %>
</p>

<p>
  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
</p>

</div>

<% end %>

