
<li>
  <span class="request"><%= request.id %> <%= request.request %> <%= request.client %> <%= request.project %> <%= request.skills_needed %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(request.created_at) %> ago.
  </span>
  <span class="request">
  	Respondents' ID's: <%= request.responses.pluck(:id) %>
  </span>
</li>
  <div class="form_row">
      <label for="status">Status:</label>
      <% [ 'open', 'closed' ].each do |status| %>
        <%= radio_button_tag 'Status', status, @status == status %>
        <%= status.humanize %>
      <% end %>
  </div>
