
<% provide(:title, 'All requests') %>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
</head>



 <div>
    <%= link_to 'Create a new request', new_request_path, class: "btn btn-small btn-primary" %>
</div>

<body>
  
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Requests</a></li>
    <li><a href="#tabs-2">My Profile</a></li>
    <li><a href="#tabs-3">Requests I've Posted</a></li>
    </ul>

<div id="tabs-1">

    <h3>All Requests</h3>

    <ul  class="employees">
  
    <% @requests.each do |request| %>
         
          <% if request.employee != current_employee %> 
            <% if Date.today < request.stop_date %>
<li>
              <p>
                  <%= request.client %> <%= request.project %><%= request.start_date %> - <%= request.stop_date %>
              </p>
              <p>
                  <%= request.employee.name %> for the <%= request.location %> office
              </p>
              <p>
                  <%= request.content %> <%= request.skills_needed %>
              </p>


<p>employee: <%= current_employee.name %> 
  status: <%= request.applied_status(current_employee) %>
  test: <%= request.applied_status(current_employee) == "applied" %>
</p>
                <% if request.applied_status (current_employee) == "applied" %>
                     Applied
                <% else %>
                     <%= link_to "Apply", new_request_response_path(request), class: "btn btn-primary" %>
                <% end %>
       </li>
            <% end %>
        <% end %>

    <% end %>

</ul>    
</div>


<div id="tabs-2">
  <h3>
    My Profile
  </h3>
  <p>
      <%= link_to 'Edit Profile', edit_employee_path(@employee) =%>
  </p>
  
      <div>

      <%= gravatar_for @employee %>

      </div>
    <div class="offset2">

      <div class="employees">

      <p>
          First Name:
          Last Name:
          <%= @employee.name %>
      </p>

      <p>
          Email:
          <%= @employee.email %>
      </p>

      <p>
          Skills:
          <%= @employee.skills %>
      </p>

      <p>
          Interests:
          <%= @employee.interests %>
      </p>

      <p>
          Group:
          <%= @employee.group %>
      </p>

      <p>
          Location:
          <%= @employee.location %>
      </p>

      <p>
          Current Project:
          <%= @employee.current_project %>
      </p>

  </div>
  </div>

</div>



<div id="tabs-3">
  <% unless current_employee.requests.empty? %>
    <h3>Requests I've Posted</h3>

    <div><%= link_to 'New Request', new_request_path %></div>

     <% @myrequests.each do |request| %> 

    <ul  class="employees">
      <li>
             <p>
                  <%= request.client %> <%= request.project %><span class="<%= request.progress_status %>"></span> <%= request.start_date %> - <%= request.stop_date %>
              </p>
              <p>
                  <%= request.content %><%= request.skills_needed %>
              </p>
              <p>Applicants:</p>

                  <% request.responses.each do |response| %>
                      <p>
                          <% if !response.selections.empty? %>    
                                   <%= response.employee.name %> Selected                                
                          <% else %> 
                               
                                   <%= link_to response.employee.name, employee_path(response.employee) %> <%= link_to 'Select', new_response_selection_path(response) %>
                          <% end %>
                      </p>
                  <% end %>                       
      </li>
    </ul>
    <% end %> 
<% end %> 
</div>

</div>
</body>
</html>
