
<% provide(:title, 'All requests') %>

<div>
  <section>
    <%= link_to 'Create a new request', new_request_path, class: "btn btn-small btn-primary" %>
  </section>
</div>

<% if !current_employee.requests.empty? %>
<h1>My Requests</h1>
<table class="requests">
  <tr>
    <th>Request</th>
    <th>Requested by</th>
    <th>Client</th>
    <th>Project</th>
    <th>Location</th>
    <th>Start - End</th>
    <th>Skills Needed</th>
    <th>Interested Employees</th>
    <th>Change Status</th>
  </tr>

 <% @myrequests.each do |request| %> 
    <tr>
    <td><%= request.request %></td>
    <td><%= request.employee.name %></td>
    <td><%= request.client %></td>
    <td><%= request.project %></td>
    <td><%= request.location %></td>
    <% if Date.today > request.start_date %>
        <td class="underway"> <%= request.start_date %> - <%= request.stop_date %></td>
    <% else %>
        <td> <%= request.start_date %> - <%= request.stop_date %></td>
    <% end %>
    <td><%= request.skills_needed %></td>
    <td>
      <ul class="noindent"><% request.responses.each do |response| %>
                </li>
            <li><%= link_to response.employee.name, employee_path(response.employee) %>: "<%= response.response %>" 
                <% if request.selections.empty? %>
                    <%= link_to 'Select', new_response_selection_path(response.id), class: "btn btn-small btn-primary" %>
                <% else %>
                     <h5 class="selected"selected>Selected</h5>
                <% end %></li>
            <% end %>     
      <ul>
    </td>
    </tr>
 <% end %>
</table>
<% else %>
<p>You do not have any requests.</p>
<% end %>

<h1>Requests</h1>
<table class="requests">
  <tr>
    <th>Request</th>
    <th>Requested by</th>
    <th>Client</th>
    <th>Project</th>
    <th>Location</th>
    <th>Start - End </th>
    <th>Skills Needed</th>
  </tr>


 <% @requests.each do |request| %> 
    <% if request.employee != current_employee %> 
    <% if Date.today < request.stop_date and request.selections.empty? %> 
        <tr>
        <td><%= request.request %></td>
        <td><%= request.employee.name %></td>
        <td><%= request.client %></td>
        <td><%= request.project %></td>
        <td><%= request.location %></td>
        <% if Date.today > request.start_date %>
            <td class="underway"> <%= request.start_date %> - <%= request.stop_date %></td>
        <% else %>
            <td> <%= request.start_date %> - <%= request.stop_date %></td>
        <% end %>
        <td><%= request.skills_needed %></td>
        <td><%= link_to 'Respond', new_request_response_path(request), class: "btn btn-small btn-primary" %></td> 
        </tr>
    <% end %>
    <% end %>
 <% end %>
</table> 