<body> 

  <div id="tabs-1">

      <ul class="employees">
    
<% @requests.each do |request| %>

  <p><b><%= request.project %>:</b> <%= request.start_date %> to <%= request.stop_date %> (Status: <%= request.progress_status %>) </br>

  <p>Posted by 
    <%= request.employee.name %>
     in the <%= request.employee.employee_location.location.location_name %> Office (Group: <%= request.employee.group %>) </br>
        Description: <%= request.content %></br>
        Relevant skills:      
        <% @skillnames = [] %>            
        <% request.request_skills.each do |skill_need| %>
          <% skill_names(skill_need) %>            
        <% end %>            
        <%= @skillnames.join(", ") %> 
      </p>  

      <p>
        Your <em>employee skills</em> score for this project: <%= request.employee_skills_score(current_employee) %> out of a possible <%= request.request_max_score(request) %></br>            
        Your <em>target skills</em> score for this project: <%= request.target_skills_score(current_employee) %> out of a possible <%= request.request_max_score(request) %></br>
      </p>

      <p>
        <% if request.applied_status(current_employee) == "applied" %>
             Applied
        <% elsif request.employee != current_employee %>
             <%= link_to "Apply", new_request_response_path(request), class: "btn" %>
        <% elsif request.employee == current_employee %>
             <span class="attention">You posted this request. You cannot apply for your own requests.</span>
        <% end %>
  
  <hr>


<% end %>

  </ul>    
  </div>




</body>
</html>
