<h1>List of Requests</h1>



<table>
  <tr>
    <th>Request ID</th>
    <th>Client</th>
    <th>Project</th>
    <th>Request</th>
    <th>Skills Needed</th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.id %></td>
    <td><%= request.client %></td>
    <td><%= request.project %></td>
    <td><%= request.request %></td>
    <td><%= request.skills_needed %></td>
  </tr>
  <tr>
    <td>Who Responded:</td>
            <td><%= request.responses.pluck(:name).inspect %></td>
  </tr> 
<% end %>
</table>




