<p id="notice"><%= notice %></p>

<p>
  <b>Requested By:</b>
  <%= @request.employee.name %>
</p>

<p>
  <b>Group:</b>
  <%= @request.group %>
</p>

<p>
  <b>Location:</b>
  <%= @request.location %>
</p>

<p>
  <b>Skills needed:</b>
  <%= @request.skills_needed %>
</p>

<p>
  <b>Start date:</b>
  <%= @request.start_date %>
</p>

<p>
  <b>Stop date:</b>
  <%= @request.stop_date %>
</p>

<p>
  <b>Request:</b>
  <%= @request.request %>
</p>

<p>
  <b>Client:</b>
  <%= @request.client %>
</p>

<p>
  <b>Project:</b>
  <%= @request.project %>
</p>

<p>
  <b>Responses to This Request:</b>   
  <ul class="responses">
    <%= render @responses %> 
  </ul>
</p>

<p>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
</p>

